.bento-wrapper {
    &.style1 {
        .bento-left {
            .thumb {
                margin-bottom: 30px;

                img {
                    border-radius: 10px;
                    max-width: 100%;

                    @include breakpoint(max-xl) {
                        width: 100%;
                    }
                }
            }

            .bento-card {
                border-radius: 20px;
                background: #EFEFEF;
                padding: 40px;
                @include breakpoint(max-xxsmall) {
                    padding: 30px;
                }

                .icon {
                    margin-bottom: 20px;
                }

                .content {
                    margin-bottom: 30px;

                    h3 {
                        color: $title-color;
                        margin-bottom: 20px;
                    }

                    p {
                        color: #565969;
                    }
                }
            }
        }

        .bento-right {
            .item {
                display: flex;
                align-items: center;
                gap: 36px;
                padding: 40px;
                border-radius: 20px;

                @include breakpoint(max-xxl) {
                    padding: 28px;
                }

                @include breakpoint(max-xl) {
                    gap: 50px;
                }

                @include breakpoint(max-xxsmall) {
                    flex-direction: column;
                }

                &:first-child {
                    background: $theme-color;
                    margin-bottom: 30px;

                    .thumb {
                        @include breakpoint(max-xl) {
                            text-align: end;
                        }

                        img {
                            border: none;

                            @include breakpoint(max-xl) {
                                text-align: end;
                            }
                        }
                    }
                }

                &:last-child {
                    border-radius: 20px;
                    border: 1px solid #D0D0D0;
                    background: #FFF;
                }

                .content {
                    flex: 1;

                    h2 {
                        color: $white;
                        font-size: 36.563px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 40px;

                        @include breakpoint(max-xxl) {
                            font-size: 33.563px;
                        }

                        @include breakpoint(max-xxs) {
                            font-size: 22px;
                        }
                    }

                    h3 {
                        color: $title-color;
                        margin-bottom: 20px;

                        @include breakpoint(max-xxl) {
                            font-size: 20px;
                        }
                    }

                    p {
                        color: #565969;
                        margin-bottom: 60px;

                        @include breakpoint(max-xxl) {
                            margin-bottom: 20px;
                        }

                        @include breakpoint(max-xxs) {
                            display: none;
                        }
                    }
                }

                .thumb {
                    flex: 1;

                    img {
                        border-radius: 20px;
                        border: 1px solid #D0D0D0;

                        @include breakpoint(max-xxl) {
                            max-width: 100%;
                        }

                        @include breakpoint(max-xl) {
                            max-width: 100%;
                        }
                    }
                }
            }
        }
    }
}